:root {
    --primary-color: #0C4655;
    --secondary-color: #FF9E2F;
    --accent-1: #219ebc;
    --accent-2: #FFD56B;
    --page-margin: 20px;
}

* {
    box-sizing: border-box;
    max-width: 800px;
}


header{
    background-color:var(--accent-2);
    color:var(--accent-1);
    /* max-width: 800px; */
}

main {
    /* max-width: 800px; */
    background-color: var(--primary-color);
    /* margin-bottom: 10px; */
}

nav a {
    text-decoration: none;
    padding: 10px;
}

footer p {
    color: var(--primary-color);
    /* background-color: var(--accent-1); */
    margin-top: 5px;
    align-self: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

h1,h2,legend{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: var(--secondary-color);
    font-family: "Barlow Semi Condensed", system-ui;
    font-style: normal;
    text-align: center;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

figcaption {
    color: var(--accent-2);
}

p {
    color:var(--accent-2);
    font-family: "Afacad Flux", system-ui;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin-left: 5px;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #1E2628;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0.75rem;
}

legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;
    text-align: center;
}

label, input,button,textarea {
    font-family: "Afacad Flux", system-ui;
}

label {
    padding-right: 1rem;
    color: var(--accent-2);
}

input,textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

textarea {
    grid-row: 4/5;
    grid-column: 1/3;
}

/* class selectors */

.hero div {
    position: relative;
}

.hero article {
    background-color: rgba(07, 52, 78, 0.6);
    position: absolute;
    left: 145px;
    width: 500px;
    top: 230px;
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 165px;
    left: 250px
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img, .hero article iframe {
    width: 200px;
    float:right;
}

.sociallinks img {
    width: 50px;
}

.headgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.pagelinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.maingrid {
    display: grid;
    grid-template-rows: auto ;
    place-items: center;
}

.history, .employees {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.history img, .employees img {
    max-height: 175px;
}

.history h2, .employees h2, .adventure h2 {
    grid-column: 1/6;
    margin-top: 10px;
    margin-bottom: 0;
}

.adventure{
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.adventure img {
    max-width: 130px;
}

.form-flex{
    display:flex;
    justify-content: space-between;
}

.form-item {
    display: grid;
    align-items: center;
}
  
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
  
.column2 {
    grid-template-columns: auto;
}