:root {
    --primary-color: #0C4655;
    --secondary-color: #FF9E2F;
    --accent-1: #219ebc;
    --accent-2: #FFD56B;
    --accent-3: #1E2628;
    --page-margin: 20px;
}

* {
    box-sizing: border-box;
    max-width: 800px;
    text-align: center;
}


header{
    background-color:var(--accent-2);
    color:var(--accent-1);
    /* max-width: 800px; */
}

main {
    /* max-width: 800px; */
    background-color: var(--primary-color);
    /* margin-bottom: 10px; */
}

nav a {
    text-decoration: none;
    padding: 10px;
}

table {
    border-collapse: collapse;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    font-size: 1.2em;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even),thead {
    background-color: var(--primary-color);
}

footer p {
    color: var(--primary-color);
    margin-top: 5px;
    align-self: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

h1,h2,h3,legend,th{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Barlow Semi Condensed", system-ui;
    font-style: normal;
}

h1,h2,h3,legend,th{
    color: #FF9E2F;
}

h1,th {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p,figcaption,td {
    font-family: "Afacad Flux", system-ui;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin-left: 5px;
}

p,figcaption, td {
    color:var(--accent-2);
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #1E2628;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0.75rem;
}

legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;
    text-align: center;
}

label, input,button,textarea {
    font-family: "Afacad Flux", system-ui;
}

label {
    padding-right: 1rem;
    color: var(--accent-2);
}

input,textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

textarea {
    grid-row: 4/5;
    grid-column: 1/3;
}

/* class selectors */

.hero div {
    position: relative;
}

.hero article {
    background-color: rgba(07, 52, 78, 0.6);
    position: absolute;
    left: 145px;
    width: 500px;
    top: 230px;
    text-align: center;
}

.hero h1 {
    position: relative;
    bottom:225px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img, .hero article iframe {
    width: 200px;
    float:right;
}

.sociallinks img {
    width: 50px;
}

.headgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.pagelinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.maingrid {
    display: grid;
    grid-template-rows: auto ;
    place-items: center;
}

.history, .employees, .display {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.display {
    margin-top: 30px;
}

.history {
    margin: 0px 60px 40px;
}

.history img, .employees img, .triptypes img {
    max-height: 200px;
}

.history h2, .employees h2, .adventure h2 {
    grid-column: 1/6;
    margin-top: 10px;
    margin-bottom: 20px;
}

.adventure {
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.adventure img, .display img {
    max-width: 130px;
}

.form-flex{
    display:flex;
    justify-content: space-between;
}

.form-item {
    display: grid;
    align-items: center;
}
  
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
  
.column2 {
    grid-template-columns: auto;
}

.triplist div,.triptable,th,td{
    margin: 5px 10px 10px;
    border:1px solid rgba(255,158,47,0.3);
    padding: 1rem;
}

.triplist div, .triptable{
    background-color: #1E2628;
}

.triptypes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}