:root {
    --primary-color: #075278;
    --secondary-color: #fb8500;
    --accent-1: #219ebc;
    --accent-2: #ffc430;
    --page-margin: 20px;
}

* {
    box-sizing: border-box;
    max-width: 800px;
}


header{
    background-color:var(--accent-2);
    color:var(--accent-1);
    /* max-width: 800px; */
}

main {
    /* max-width: 800px; */
    background-color: var(--accent-1);
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

footer p {
    color: var(--primary-color);
    /* background-color: var(--accent-1); */
    margin-top: 5px;
    align-self: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1 {
    color: var(--secondary-color);
    font-family: "Barlow Semi Condensed", system-ui;
    font-weight: 600;
    font-style: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    color: var(--secondary-color);
    font-family: "Barlow Semi Condensed", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-left: 5px;
}

figcaption {
    color: var(--accent-2);
}

p {
    color:var(--accent-2);
    font-family: "Afacad Flux", system-ui;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin-left: 5px;
}


/* class selectors */

.hero div {
    position: relative;
}

.hero article {
    background-color: rgba(07, 52, 78, 0.6);
    position: absolute;
    left: 145px;
    width: 500px;
    top: 250px;
}

.hero h1 {
    position: absolute;
    top: 190px;
    left: 230px
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    width: 200px;
    float:right;
}

.sociallinks img {
    width: 50px;
}


.headgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.pagelinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.maingrid {
    display: grid;
    grid-template-rows: auto ;
    place-items: center;
}

.history {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.history img {
    max-height: 175px;
}

.history h2 {
    grid-column: 1/6;
}

.adventure{
    grid-template-columns: 20% 20% 20% 20% 20% ;
}

.adventure img {
    max-width: 125px;
}

.adventure h2{
    grid-column: 1/6;
}